[Unit]
Description=Discord bot
After=network.target

[Service]
ExecStart=bash script
Restart=always
User=user
Group=group

[Install]
WantedBy=multi-user.target